.input-holder {
  display: flex;
  flex-direction: column;
}

.input-holder input {
  margin: auto;
  width: 50%;
  margin-top: 1rem;
  padding: 1rem;
}

.post {
  background-color: gray;
  width: 50%;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  color: white;
}
